.social {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 72px;
  margin: 0;
}

.social__item {
  width: 100%;
  height: auto;
}
