.cards-list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}


.cards-list--listStyle {
  flex-direction: column;
  gap: 60px 0;
}

.cards-list__item {
  position: relative;
  width: calc(50% - 15px);
}

.cards-list__item--listStyle {
  width: 100%;
}


