.btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #B68E6C;
  gap: 10px;
  padding: 0;
  cursor: pointer;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;

}
